<div class="page-wrapper">
  <section class="page page{{include.page}}">
    <div class="content">
      <div class="frame">
        <h2>Moodboards</h2>
        <p>Create mood boards for every elements that needs to be validated ahead of time:</p>
        <ul>
          <li>model</li>
          <li>hair</li>
          <li>makeup</li>
          <li>shoes</li>
          <li>accessories</li>
          <li>poses</li>
          <li>furnitures and other props</li>
          <li>background</li>
          <li>light</li>
          <li>overall ambiance</li>
        </ul>
      </div>
    </div>
  </section>
</div>
