<div class="page-wrapper">
  <section class="page page{{include.page}}">
    <div class="content col-right">
      <div class="left">
        <div class="left--content">
          <h3>The concept</h3>
          <p>
            What is the story we want to tell and how to infuse it in a minimal setting in a studio.
            What garments should we showcase and in what order.
            Decide backdrops, lighting, the key looks, to create the feeling we are pursuing.
          </p>
        </div>
      </div>
      <div class="right">
        <div>
          <h2>Pre-prod meeting</h2>
        </div>
      </div>
    </div>
  </section>
</div>
