<div class="page-wrapper">
  <section class="page page{{include.page}}">
    <div class="content col-left">
      <div class="left">
        <h2>Models</h2>
        <p>
          Looking for models that would fit the desired effect and vision but also that would be affordable in  a very tight budget. Look for model agencies and ask for upcoming or new models that could do a photoshoot at a budget cost or in exchange of the photos made by a professional for their portfolio. Also look at friends, family, social media and all means of networking.
        </p>
      </div>
      <div class="right">
      </div>
    </div>
  </section>
</div>
