<div class="page-wrapper">
  <section class="page page{{include.page}}">
    <div class="content">
      <ul>
        <li><img src="/assets/img/gallery/IMG_6711-Modifier.jpg" alt=""></li>
        <li><img src="/assets/img/gallery/IMG_6764-Modifier.jpg" alt=""></li>
        <li><img src="/assets/img/gallery/IMG_6803.jpg" alt=""></li>
        <li><img src="/assets/img/gallery/IMG_6847.jpg" alt=""></li>
        <li><img src="/assets/img/gallery/IMG_6867.jpg" alt=""></li>
        <li><img src="/assets/img/gallery/IMG_6877-Modifier.jpg" alt=""></li>
        <li><img src="/assets/img/gallery/IMG_6942-Modifier.jpg" alt=""></li>
        <li><img src="/assets/img/gallery/IMG_6992-Modifier.jpg" alt=""></li>
        <li class="name">
          <p>Photo credits: </br>Kaven Tremblay</p>
        </li>
        <li><img src="/assets/img/gallery/IMG_7023.jpg" alt=""></li>
        <li><img src="/assets/img/gallery/IMG_7072.jpg" alt=""></li>
        <li><img src="/assets/img/gallery/IMG_7131.jpg" alt=""></li>
        <li><img src="/assets/img/gallery/IMG_7193-Modifier.jpg" alt=""></li>
        <li><img src="/assets/img/gallery/IMG_7227.jpg" alt=""></li>
        <li><img src="/assets/img/gallery/IMG_7255.jpg" alt=""></li>
      </ul>
    </div>
  </section>
</div>
