<div class="page-wrapper">
  <section class="page page{{include.page}}">
    <div class="content">
      <div class="frame">
        <p>
          In the case of the analog photoshoot, on the day of the photoshoot we organized each step of the day:
        </p>
        <ul>
          <li>Picking up furniture</li>
          <li>Getting authorizations to bring furniture to the studio</li>
          <li>Welcoming the models and making sure they had everything they needed</li>
          <li>Meeting with the photographer and styling assistant before the shoot starts</li>
          <li>Set-up the studio with props and organise a changing area, a food and rest area</li>
          <li>Get the clothes of the collection ready on a rack in order for each scene.</li>
        </ul>
      </div>
    </div>
  </section>
</div>
