//Colors
$gold: #cbaf00;
$gray: darken(#a5a384,30);
$white: #f6f6f6;
$black: #343434;

@import 'mixins';

// Paul Irish Box-Model
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Lato, sans-serif;
  color: $gray;
  background-color: $white;
  //height: 200vh;
}

p {
  line-height: 25px;
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.gold {
  color: $gold;
}

.page-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: grey;
}

.page {
  margin: 0 auto;
  max-width: 1200px;
}

.content {
  width: 1024px;
  height: 683px;
  //padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.absolute {
  position: absolute;
  z-index: 2;
}

.fixed {
  position: fixed;
}

h1 {
  //font-family: 'Lato', sans-serif;
  //font-family: 'Megrim', cursive;
  //font-family: 'Muli', sans-serif;
  //font-family: 'Open Sans', sans-serif;
  //font-family: 'Poiret One', cursive;
  //font-family: 'Raleway', sans-serif;
  //font-family: 'Roboto', sans-serif;
  //font-family: 'Montserrat', sans-serif;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 4px;
}

@import 'header';
@import 'layouts';
@import "pages";